@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Black: #000;
  --Grapefit-400: #b382c8;
  --Grapefit-1000: #2f1639;
  --BlackMode-1000: #171717;
  --BlackMode-800: #454545;
  --Grapefit-600: #8e44ad;
  --BlackMode-100: #e7e7e7;
  --BlackMode-300: #b9b9b9;
  --BlackMode-1100: #000;
  --BlackMode-200: #d0d0d0;
  --BlackMode-900: #2e2e2e;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    'Sora',
    -apple-system,
    'Roboto',
    'Helvetica',
    sans-serif;
}
